<!-- sidebar: style can be found in sidebar.less -->
<section class="sidebar">
  <!-- sidebar menu: : style can be found in sidebar.less -->
  <ul class="sidebar-menu">
    <li class="active treeview">
      <a href="#">
        <i class="fa fa-dashboard"></i> <span>Dashboard</span>
      </a>
    </li>
    <li class="treeview" th:classappend="${#httpServletRequest.requestURI.startsWith('/customers')? 'active':''}">
      <a href="#">
        <i class="fa fa-folder"></i>
        <span>Registration</span>
        <i class="fa fa-angle-left pull-right"></i>
      </a>
      <ul class="treeview-menu">
        <li><a href="/customers"><i class="fa fa-circle-o"></i> Customers</a></li>
      </ul>
      <ul class="treeview-menu" sec:authorize="hasAuthority('ADMIN')">
        <li><a href="/departments"><i class="fa fa-circle-o"></i> Departments</a></li>
      </ul>
    </li>
    <li class="treeview"
        th:classappend="${#httpServletRequest.requestURI.startsWith('/users')? 'active':''}"
        sec:authorize="hasAuthority('ADMIN')">
      <a href="/users">
        <i class="fa fa-user" ></i> <span>Users Management</span>
      </a>
    </li>
  </ul>
</section>
<!-- /.sidebar -->